plyfile
torch==2.4.1
torchvision==0.19.1
tqdm
opencv-python-headless
vdbfusion
trimesh
omegaconf
einops
kiui
scipy
open3d
numpy<2
PyMCubes
scikit-image
#git+https://github.com/facebookresearch/pytorch3d.git@V0.7.8